.afs-dropdown{
    position: relative;
    color: black;
    cursor: pointer;

    height: 100%;
}
.afs-dropdown_opened{
}
.afs-dropdown_closed{
}
.afs-dropdown__header{
    display:flex;
    flex-direction: row;
    align-items: center;

    background-color: white;

    height: 100%;
    box-sizing: border-box;
}
.afs-dropdown__items{
    position: absolute;

    display:none;

    border: 1px solid black;
    border-bottom: none;

    box-sizing: border-box;

    right: 0px;

    background-color: white;

    z-index: 4;

    width: 100%;

    overflow-x:hidden;
}
.afs-dropdown__item{
    text-align: left;

    width: 100%;

    padding: 5px;
    box-sizing: border-box;

    border-bottom: 1px solid black;

    white-space: nowrap;

    overflow: hidden;
}
.afs-dropdown__selected-item-container{
    width: 100%;
    
    display: flex;
    flex-direction: vertical;
    justify-content: center;
}
.afs-dropdown__item_selected{
    overflow: hidden;

    border: none;

    text-align: left;

    padding: 0px;

    margin-left: 5px;

    height: 100%;
}
.afs-dropdown__button{
    align-self: center;

    box-sizing: border-box;

    text-align: center;

    padding: 0 5px 0 5px;
}
.afs-dropdown__button-content{
    background: url(../../assets/icons/dropdown-icon.png);
    background-position: center;
    background-size: cover;

    width: 20px;
    height: 20px;

    transition: transform 1s;
}
/*  */
.afs-dropdown_opened .afs-dropdown__items{
    display: block;
}
.afs-dropdown_opened .afs-dropdown__button-content{
    transform: rotate(360deg);
}
.afs-dropdown_opened .afs-dropdown__items > .afs-dropdown__item:hover{
    background-color: #ddffFF;
}