.afs-fashion-catalog{

}
.afs-fashion-catalog__card-board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.afs-fashion-catalog__fashion-card{
    width:200px;
    height:250px;

    border-radius: 10px;

    overflow:hidden;

    margin: 10px 15px 20px 15px;
}