.afs-fashion-search-form{
}
.afs-fashion-search-form__header
{
    font-size: 1.7em;
    margin-left: 17px;
}
.afs-fashion-search-form__elements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.afs-fashion-search-form__control{
    width: 40%;

    min-width: 215px;

    margin: 5px;
}